

<div class="col-sm-8 col-sm-offset-3">
  <% if @results %>
    <ol>
      <% @results.each do |result| %>
      <li style="color:#d9534f;">
        <a href="<%= result.url %>" style="color:#d9534f;" target="_blank">
          <%= result.url %>
        </a>
      </li>
      <% end %>
    </ol>
  <% end %>
</div>
